<div style="background-color: white" class="columns is-vcentered">
  <div class="column is-paddingless">
    <img src="../../../assets/images/ImageLogin.png">
  </div>
  <div class="column">
    <form *ngIf="!showUserLogin" style="margin: 0 auto;" nz-form [formGroup]="validateForm" class="login-form" (ngSubmit)="submitForm()">
      <img style="padding-bottom: 8px;" src="../../../assets/images/Logopng.png" alt="">
      <!-- <h2 nz-title>Login</h2> -->
      <nz-form-item>
        <nz-form-control nzErrorTip="Ingrese su correo!">
          <nz-input-group nzPrefixIcon="user">
            <input type="text" nz-input formControlName="userName" #userEmail placeholder="Username" />
          </nz-input-group>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-control nzErrorTip="Ingrese su contraseña!">
          <nz-input-group nzPrefixIcon="lock">
            <input type="password" nz-input formControlName="password" #userPassword placeholder="Password" />
          </nz-input-group>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-control>
          <label nz-checkbox formControlName="remember">
            <span>Recordarme</span>
          </label>
          <a class="login-form-forgot" class="login-form-forgot">¿Olvido su contraseña?</a>
          <button nz-button class="login-form-button" name="login" [nzType]="'primary'"
            (click)="authService.login(userEmail.value, userPassword.value)"> Log in</button>
          <nz-divider></nz-divider>
          <a (click)="showUserLogin = true;">Ir a login de colaborador</a>
        </nz-form-control>
      </nz-form-item>
    </form>
    <form *ngIf="showUserLogin" style="margin: 0 auto;" nz-form [formGroup]="userLoginForm" class="login-form" (ngSubmit)="submitForm()">
      <img style="padding-bottom: 8px;" src="../../../assets/images/Logopng.png" alt="">
      <h4 style="text-align: center" nz-title>Acceso de colaboradores</h4>
      <nz-form-item>
        <nz-form-control nzErrorTip="Ingrese su código de acceso al departamento!">
          <nz-input-group nzPrefixIcon="user">
            <input type="text" nz-input formControlName="accessCode" #accessCode placeholder="Código de acceso" />
          </nz-input-group>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-control>
          <button nz-button class="login-form-button" name="login" [nzType]="'primary'"
            (click)="authService.userLogin(accessCode.value)"> Ingresar al departamento</button>
          <nz-divider></nz-divider>
          <a (click)="showUserLogin = false;">Ir a login de administrador</a>
        </nz-form-control>
      </nz-form-item>
    </form>
  </div>
</div>
