<div style="background-color: white" class="columns is-vcentered">
  <div class="column is-paddingless">
    <img src="../../../assets/images/ImageLogin.png">
  </div>
  <div class="column">
    <form style="margin: 0 auto;" nz-form [formGroup]="validateForm" class="login-form" (ngSubmit)="submitForm()">
      <img style="padding-bottom: 8px;" src="../../../assets/images/Logopng.png" alt="">
      <!-- <h2 nz-title>Login</h2> -->
      <nz-form-item>
        <nz-form-control nzErrorTip="Ingrese su usuario!">
          <nz-input-group nzPrefixIcon="user">
            <input type="text" nz-input formControlName="userName" placeholder="Username" />
          </nz-input-group>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-control nzErrorTip="Ingrese su contraseña!">
          <nz-input-group nzPrefixIcon="lock">
            <input type="password" nz-input formControlName="password" placeholder="Password" />
          </nz-input-group>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-control>
          <label nz-checkbox formControlName="remember">
            <span>Recordarme</span>
          </label>
          <a class="login-form-forgot" class="login-form-forgot">¿Olvido su contraseña?</a>
          <button nz-button class="login-form-button" name="login" [nzType]="'primary'" routerLink="departments"> Log in</button>
          <nz-divider></nz-divider>
          <a>Crear una cuenta</a>
        </nz-form-control>
      </nz-form-item>
    </form>
  </div>
</div>
