<!-- <nz-layout class="layout">
  <nz-header>
    <div class="logo"></div>
  </nz-header>
  <nz-layout>
    <nz-sider [nzWidth]="200" style="background:#fff">
      <ul nz-menu [nzMode]="'inline'" style="height:100%">
        <li nz-menu-item routerLinkActive="ant-menu-item-selected">
          <a title routerLink="login">
            <span title><i nz-icon type="user"></i>Table</span>
          </a>
        </li>
        <li nz-menu-item routerLinkActive="ant-menu-item-selected">
          <a title routerLink="form">
            <span title><i nz-icon type="laptop"></i>Form</span>
          </a>
        </li>
        <li nz-menu-item routerLinkActive="ant-menu-item-selected">
          <a title routerLink="page-header">
            <span title><i nz-icon type="notification"></i>Page Header</span>
          </a>
        </li>
      </ul>
    </nz-sider>
    <nz-layout style="padding:0 24px 24px">
      <nz-content style="background:#fff; padding: 24px; min-height: 280px;">
        <router-outlet></router-outlet>
      </nz-content>
    </nz-layout>
  </nz-layout>
</nz-layout> -->

<nz-layout style="height: 100%">
  <nz-sider nzCollapsible [(nzCollapsed)]="isCollapsed" nzWidth="200px">
    <div><img class="logo" src="{{isCollapsed ? '../assets/images/Logotype.png' : '../assets/images/Logopng.png' }}"
        alt=""></div>
    <ul nz-menu nzTheme="dark" nzMode="inline" [nzInlineCollapsed]="isCollapsed">
      <!-- <li nz-submenu nzTitle="User" nzIcon="user">
          <ul>
            <li nz-menu-item routerLink="form">Tom</li>
            <li nz-menu-item>Bill</li>
            <li nz-menu-item>Alex</li>
          </ul>
        </li> -->
      <li nz-menu-item [routerLink]="[ '/departments']">
        <i nz-icon nzType="bars"></i>
        <span>Departamentos</span>
      </li>
      <li nz-menu-item >
        <i nz-icon nzType="file"></i>
        <span>File</span>
      </li>
      <li nz-menu-item>
        <i nz-icon nzType="file" [routerLink]="[ '/']"></i>
        <span>Log out</span>
      </li>
    </ul>
  </nz-sider>
  <nz-layout>
    <nz-header style="background-color:#6876F2"></nz-header>
    <nz-content style="padding-top: 16px">
      <router-outlet></router-outlet>
    </nz-content>
  </nz-layout>
</nz-layout>
